# Python Program

#Q.1 Python program to display the sum of n numbers using the list

In [66]:
n = int(input("Enter how many numbers you wants to append:"))

list = []

for i in range(n):
    num = int(input("Enter number:"))
    list.append(num)

sum = 0

for i in list:
    sum = sum + i
    
print("The sum of n numbers in list is:", sum)

Enter how many numbers you wants to append:10
Enter number:1
Enter number:2
Enter number:3
Enter number:4
Enter number:5
Enter number:6
Enter number:7
Enter number:8
Enter number:9
Enter number:10
The sum of n numbers in list is: 55

# Q.2. Use a dictionary comprehension to count the length of each word in a sentence.

In [64]:
sentence = "The quick brown fox jumps over the lazy dog"

word_lengths = {word: len(word) for word in sentence.split()}

print(word_lengths)

{'The': 3, 'quick': 5, 'brown': 5, 'fox': 3, 'jumps': 5, 'over': 4, 'the': 3, 'lazy': 4, 'dog': 3}

# Q.3 Create an application using python which can perform the operations mentioned in the below image.

In [60]:

print('*****Welcome to State bank of India:*****\n')

Balance = 10000

pin = int(input("Enter your 4 digit pin Number:"))

if pin == 1234:
    choice = int(input("Please choose transaction: \n1-Withdrow \n2-Balance Enquiry \n3-FastCash \nPlease choose transaction:"))

    if choice==1:
        amount = int(input("Enter withdrowl amount:"))
        if amount < Balance:
            Balance = Balance-amount
            print("Please take your amount:", amount, "\nBalance:",Balance)
        else:
            print("Insufficient Balance")
            
    elif choice==2:
        print("Your Balance is:", Balance)
        
    elif choice==3:
        print("1. Rs. 100")
        print("2. Rs. 500")
        print("3. Rs. 1000")
        fast_cash_option = int(input("Please choose a fast cash option: "))

        if fast_cash_option == 1:
            if Balance >= 100:
                Balance -= 100
                print("Please take your amount: 100")
            else:
                print("Insufficient balance")

        elif fast_cash_option == 2:
            if Balance >= 500:
                Balance -= 500
                print("Please take your amount: 500")
            else:
                print("Insufficient balance")

        elif fast_cash_option == 3:
            if Balance >= 1000:
                Balance -= 1000
                print("Please take your amount: 1000")
            else:
                print("Insufficient balance")

        else:
            print("Invalid option selected")
    
    else:
        print("Invalid option selected")
    
else:
    print("Incorrect PIN")

*****Welcome to State bank of India:*****

Enter your 4 digit pin Number:1234
Please choose transaction:
1-Withdrow
2-Balance Enquiry
3-FastCash
Please choose transaction:1
Enter withdrowl amount:2500
Please take your amount: 2500
Balance: 7500

# Q.4 Tests whether a data sample has a Gaussian distribution.
# a)Generate the data, form H0 and H1 and write python code to test the Normality

# Q.6 Python Program to Make a Simple Calculator

In [29]:

print("Simple Claculator")

a = int(input("Enter First number:"))
b = int(input("Enter second number:"))

clc = int(input("Enter your choice: \n1.Sum(+) \n2.Substraction(-) \n3.Multiply(*) \n4.Divide(/) \n="))

if clc == 1:
    print("Answer : ", a+b)
elif clc == 2:
    print("Answer : ", a-b)
elif clc == 3:
    print("Answer : ", a*b)
elif clc == 4:
    print("Answer : ", a/b)
else:
    print("Wrong choice")

Simple Claculator
Enter First number:10
Enter second number:12
Enter your choice:
1.Sum(+)
2.Substraction(-)
3.Multiply(*)
4.Divide(/)
=1
Answer :  22

Q.5 The objective of this project is to explore a dataset containing customer information for treadmill products for a retail store called Cardio Good Fitness.

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
# Load the dataset into a pandas dataframe
df = pd.read_csv('CardioGoodFitness.csv')

In [41]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [42]:
df.shape

(180, 9)

In [43]:
print(df.describe())

              Age   Education       Usage     Fitness         Income  \
count  180.000000  180.000000  180.000000  180.000000     180.000000
mean    28.788889   15.572222    3.455556    3.311111   53719.577778
std      6.943498    1.617055    1.084797    0.958869   16506.684226
min     18.000000   12.000000    2.000000    1.000000   29562.000000
25%     24.000000   14.000000    3.000000    3.000000   44058.750000
50%     26.000000   16.000000    3.000000    3.000000   50596.500000
75%     33.000000   16.000000    4.000000    4.000000   58668.000000
max     50.000000   21.000000    7.000000    5.000000  104581.000000

            Miles
count  180.000000
mean   103.194444
std     51.863605
min     21.000000
25%     66.000000
50%     94.000000
75%    114.750000
max    360.000000

In [44]:
# Display counts for categorical columns
print(df['Gender'].value_counts())
print(df['MaritalStatus'].value_counts())

Male      104
Female     76
Name: Gender, dtype: int64
Partnered    107
Single        73
Name: MaritalStatus, dtype: int64

In [74]:
fitness_by_gender = df.groupby('Gender')['Fitness'].value_counts()
print(fitness_by_gender)

Gender  Fitness
Female  3          45
        2          16
        4           8
        5           6
        1           1
Male    3          52
        5          25
        4          16
        2          10
        1           1
Name: Fitness, dtype: int64

In [79]:
# Calculate the mean fitness score for each gender
fitness_by_gender = df.groupby('Gender')['Fitness'].mean()

In [80]:
# Print the mean fitness score for each gender
print(fitness_by_gender)

Gender
Female    3.026316
Male      3.519231
Name: Fitness, dtype: float64

In [47]:
# most popular product among all
product_counts = df['Product'].value_counts()

In [48]:
# Print the product counts
print(product_counts)

TM195    80
TM498    60
TM798    40
Name: Product, dtype: int64

In [81]:
# Calculate the mean fitness score for each marital status
mean_fitness_by_marital_status = df.groupby('MaritalStatus')['Fitness'].mean()

In [82]:
# Print the mean fitness score for each marital status
print(mean_fitness_by_marital_status)

MaritalStatus
Partnered    3.271028
Single       3.369863
Name: Fitness, dtype: float64

In [83]:
# Filter the data for customers below the age of 40
young_customers = df[df['Age'] < 40]

In [84]:
# Count the number of occurrences for each product
product_counts = young_customers['Product'].value_counts()

In [85]:
# Print the product counts
print(product_counts)

TM195    73
TM498    55
TM798    35
Name: Product, dtype: int64